In [2]:
import numpy as np
import pandas as pd

In [3]:
iris=pd.read_csv('Z:/y20cs190_saleembasha/3 rd year/sem 5/CS 352 DA lab/Iris.csv',index_col=0)
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [5]:
type(iris)

pandas.core.frame.DataFrame

In [6]:
iris.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [7]:
a=iris.keys()
print(a)
len(a)

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

5

In [8]:
iris.shape[0]

150

In [9]:
iris.duplicated()

Id
1      False
2      False
3      False
4      False
5      False
       ...
146    False
147    False
148    False
149    False
150    False
Length: 150, dtype: bool

In [10]:
duplicate=iris[iris.duplicated()]
duplicate

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
35             4.9           3.1            1.5           0.1     Iris-setosa
38             4.9           3.1            1.5           0.1     Iris-setosa
143            5.8           2.7            5.1           1.9  Iris-virginica

In [14]:
iris.drop_duplicates()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[147 rows x 5 columns]

In [29]:
duplicate.index.to_list()

[35, 38, 143]

In [33]:
iris.drop_duplicates().index.to_list()

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 144,
 145,
 146,
 147,
 148,
 149,
 150]

In [36]:
print('unique elements in the iris dataset are:',len(iris.drop_duplicates().index.to_list()))

unique elements in the iris dataset are: 147

In [37]:
print('duplicated elements in the iris dataset are:',len(duplicate))

duplicated elements in the iris dataset are: 3

In [38]:
iris.sort_values('SepalLengthCm',axis=0)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
14             4.3           3.0            1.1           0.1     Iris-setosa
43             4.4           3.2            1.3           0.2     Iris-setosa
39             4.4           3.0            1.3           0.2     Iris-setosa
9              4.4           2.9            1.4           0.2     Iris-setosa
42             4.5           2.3            1.3           0.3     Iris-setosa
..             ...           ...            ...           ...             ...
123            7.7           2.8            6.7           2.0  Iris-virginica
119            7.7           2.6            6.9           2.3  Iris-virginica
118            7.7           3.8            6.7           2.2  Iris-virginica
136            7.7           3.0            6.1           2.3  Iris-virginica
132            7.9           3.8            6.4           2.0  Iris-virginica

[150 rows x 5 columns]

In [45]:
iris[iris['SepalLengthCm'].isna()]

Empty DataFrame
Columns: [SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [46]:
len(iris[iris['SepalLengthCm'].isna()])

0

In [47]:
iris.fillna(0)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [55]:
import statistics as s
print('mean:',iris['PetalWidthCm'].mean())
print('median:',iris['PetalWidthCm'].median())
print('SD:',iris['PetalWidthCm'].std())
sd=iris['PetalWidthCm'].std()
print('Variance:',iris['PetalWidthCm'].var())

mean: 1.1986666666666672
median: 1.3
SD: 0.7631607417008414
Variance: 0.5824143176733784

In [59]:
iris[10:21]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
11            5.4           3.7            1.5           0.2  Iris-setosa
12            4.8           3.4            1.6           0.2  Iris-setosa
13            4.8           3.0            1.4           0.1  Iris-setosa
14            4.3           3.0            1.1           0.1  Iris-setosa
15            5.8           4.0            1.2           0.2  Iris-setosa
16            5.7           4.4            1.5           0.4  Iris-setosa
17            5.4           3.9            1.3           0.4  Iris-setosa
18            5.1           3.5            1.4           0.3  Iris-setosa
19            5.7           3.8            1.7           0.3  Iris-setosa
20            5.1           3.8            1.5           0.3  Iris-setosa
21            5.4           3.4            1.7           0.2  Iris-setosa

In [61]:
iris[['Species','PetalLengthCm','PetalWidthCm']]

            Species  PetalLengthCm  PetalWidthCm
Id
1       Iris-setosa            1.4           0.2
2       Iris-setosa            1.4           0.2
3       Iris-setosa            1.3           0.2
4       Iris-setosa            1.5           0.2
5       Iris-setosa            1.4           0.2
..              ...            ...           ...
146  Iris-virginica            5.2           2.3
147  Iris-virginica            5.0           1.9
148  Iris-virginica            5.2           2.0
149  Iris-virginica            5.4           2.3
150  Iris-virginica            5.1           1.8

[150 rows x 3 columns]

In [64]:
iris[iris['Species']=='Iris-setosa']

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             5.0           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa
10            4.9           3.1            1.5           0.1  Iris-setosa
11            5.4           3.7            1.5           0.2  Iris-setosa
12            4.8           3.4            1.6           0.2  Iris-setosa
13            4.8           3.0            1.4           0.1  Iris-setosa
14            4.3           3.0            1.1           0.1  Iris-setosa
15            5.8           4.0            1.2           0.2  Iris-setosa
16            5.7           4.4            1.5           0.4  Iris-setosa
17            5.4           3.9            1.3           0.4  Iris-setosa
18            5.1           3.5            1.4           0.3  Iris-setosa
19            5.7           3.8            1.7           0.3  Iris-setosa
20            5.1           3.8            1.5           0.3  Iris-setosa
21            5.4           3.4            1.7           0.2  Iris-setosa
22            5.1           3.7            1.5           0.4  Iris-setosa
23            4.6           3.6            1.0           0.2  Iris-setosa
24            5.1           3.3            1.7           0.5  Iris-setosa
25            4.8           3.4            1.9           0.2  Iris-setosa
26            5.0           3.0            1.6           0.2  Iris-setosa
27            5.0           3.4            1.6           0.4  Iris-setosa
28            5.2           3.5            1.5           0.2  Iris-setosa
29            5.2           3.4            1.4           0.2  Iris-setosa
30            4.7           3.2            1.6           0.2  Iris-setosa
31            4.8           3.1            1.6           0.2  Iris-setosa
32            5.4           3.4            1.5           0.4  Iris-setosa
33            5.2           4.1            1.5           0.1  Iris-setosa
34            5.5           4.2            1.4           0.2  Iris-setosa
35            4.9           3.1            1.5           0.1  Iris-setosa
36            5.0           3.2            1.2           0.2  Iris-setosa
37            5.5           3.5            1.3           0.2  Iris-setosa
38            4.9           3.1            1.5           0.1  Iris-setosa
39            4.4           3.0            1.3           0.2  Iris-setosa
40            5.1           3.4            1.5           0.2  Iris-setosa
41            5.0           3.5            1.3           0.3  Iris-setosa
42            4.5           2.3            1.3           0.3  Iris-setosa
43            4.4           3.2            1.3           0.2  Iris-setosa
44            5.0           3.5            1.6           0.6  Iris-setosa
45            5.1           3.8            1.9           0.4  Iris-setosa
46            4.8           3.0            1.4           0.3  Iris-setosa
47            5.1           3.8            1.6           0.2  Iris-setosa
48            4.6           3.2            1.4           0.2  Iris-setosa
49            5.3           3.7            1.5           0.2  Iris-setosa
50            5.0           3.3            1.4           0.2  Iris-setosa

In [67]:
d={}
for i in (iris['Species'].unique()):
    d[i]=len(iris[iris['Species']==i])
d

{'Iris-setosa': 50, 'Iris-versicolor': 50, 'Iris-virginica': 50}

In [72]:
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [79]:
print(iris['SepalWidthCm'].max())
print(iris['SepalWidthCm'].min())
iris.to_list(index=False)

4.4
2.0

AttributeError: 'DataFrame' object has no attribute 'to_list'