In [9]:
import pandas as pd
p=pd.read_csv('/content/demo3.csv')
p

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [6]:
cat /content/demo3.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [7]:
!cat /content/demo3.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [10]:
p.to_csv('/content/demo4.csv')

In [13]:
p.to_csv('/content/demo5.csv',sep='|')

In [18]:
a=pd.read_csv('/content/demo5.csv')
a

  |something|a|b|c|d|message
0           0|one|1|2|3.0|4|
1         1|two|5|6||8|world
2   2|three|9|10|11.0|12|foo

In [19]:
a=pd.read_csv('/content/demo5.csv',sep='|')
a

   Unnamed: 0 something  a   b     c   d message
0           0       one  1   2   3.0   4     NaN
1           1       two  5   6   NaN   8   world
2           2     three  9  10  11.0  12     foo